@charset "utf-8";
/* www.idmn.net */
body {font-family: Arial;font-size: 12px;color: #FFF;background: #252525 url(/static/image/bg.png) repeat fixed;margin: 0px;}
img {border: none;}
em,i {font-style: normal;}
a {color: #333;text-decoration: none;}
a:hover {color: #386DCD;text-decoration: none;}
ul,dl,dt,dd,h1,h2,p,form {font-weight: normal;margin: 0px;padding: 0px;list-style-type: none;}
li,dt,dd {display: inline;float: left;}
.header {background: #FEFEFE url(/static/image/bg.gif) repeat-x left -61px;height: 60px;width: 820px;margin: 10px auto;}
.header p {color: #FFF;background: #386DCD url(/static/image/bg.gif) no-repeat -6px top;float: left;height: 60px;width: 164px;}
.header p a,.header p em {font-family: "SimHei", Arial;font-size: 18px;color: #FFF;background: url(/static/image/bg.gif) no-repeat 88px -209px;float: left;height: 23px;width: 145px;padding: 11px 0px 0px 14px;padding-top: 13px\9;}
.header p a:hover {color: #FAE9CF;}
.header p span {color: #AFC5EB;float: left;height: 14px;width: 150px;padding-left: 14px;}
.header ul {background: url(/static/image/bg.gif) no-repeat -171px top;float: right;height: 60px;width: 651px;padding-left: 5px;}
.header li {color: #333;background: url(/static/image/bg.gif) no-repeat 90px -122px;text-align: center;height: 53px;width: 92px;padding-top: 5px;}
.header li.guestbook {background: url(/static/image/bg.gif) no-repeat 94px top;width: 99px;}
.header li a,.header li span {font-size: 14px;text-align: center;display: inline;float: left;height: 19px;height: 18px\9;width: 65px;margin-top: 12px;margin-left: 13px;padding-top: 4px;padding-top: 5px\9;transition: color 0.3s linear;}
.header span {cursor: pointer;}
.header li a:hover,.header li span:hover,.header li span.on {color: #999;background: url(/static/image/bg.gif) no-repeat -101px -122px;}
.search {background-color: #FEFEFE;display: none;height: 39px;width: 820px;margin: 0px auto;}
.search span {background: url(/static/image/bg.gif) no-repeat 732px -180px;display: inline;float: left;height: 27px;width: 798px;margin: 10px 0px 0px 10px;border: 1px solid #EEE;}
.search input {background-color: transparent;display: inline;float: left;border: none;}
.search input.key {font-family: "Microsoft YaHei", Arial;line-height: 23px;color: #666;float: left;height: 23px;width: 720px;margin-top: 2px;margin-left: 4px;outline: none;}
.search input.btn {color: #888;float: right;height: 25px;width: 66px;margin-top: 2px\9;cursor:pointer;}
.main {width: 904px;margin: 0px auto;}
.column {color: #FFF3CB;background: url(/static/image/bg.gif) no-repeat -3px -122px;float: left;height: 49px;width: 42px;margin-top: 12px;}
.column span {font-size: 11px;line-height: 22px;text-align: center;float: left;height: 22px;width: 40px;margin-top: 3px;padding-left: 2px;}
.column a {color: #FFF3CB;float: left;height: 17px;width: 30px;padding-top: 2px;padding-top: 4px\9;padding-left: 11px;}
.column a:hover {color: #FFF;}
.content {background-color: #FEFEFE;float: left;width: 820px;}
.content .title {height: 33px;}
.content .title span {font-family: "SimSun", Arial;color: #999;float: left;width: 650px;padding-top: 10px;padding-left: 10px;}
.content .title h2 {font-size: 12px;font-weight: normal;color: #666;display: inline;float: left;width: auto;padding-right: 8px;}
.content .title i {display: inline;float: left;width: 304px;}
.content .title span.tool {float: right;width: 93px;}
.content .title a,.content .title em.show {color: #999;float: left;height: 15px;width: 25px;margin-right: 5px;cursor: pointer;}
.content .title a:hover {color: #386DCD;}
.content .title em.show:hover {color: #E69829;}
#topmore {display: none;height: 135px;}
#topmore span {float: left;height: 127px;width: 802px;padding-left: 10px;}
#picbox {text-align: center;display: true;}
#picbox img {display: block;margin: 0px auto 10px auto;}
#picbox div {line-height: 26px;color: #666;text-align: center;margin-top: 20px;}
#picbox a {color: #006699;}
#picbox a:hover {color: #FF6600;text-decoration: underline;}
.page {text-align: center;height: 43px;margin: 0px auto;}
.page a,.page span,.page em {color: #666;background: url(/static/image/page.gif) no-repeat left -52px;text-align: center;vertical-align: top;display: inline-block;height: 20px;width: 27px;margin: 4px 5px 0px 0px;padding-top: 5px;}
.page a.pre {background-position: left top;text-align: left;height: 18px\9;width: 42px;padding: 5px 0px 0px 16px;padding-top: 7px\9;}
.page a.next {background-position: left -26px;text-align: left;height: 18px\9;width: 51px;padding: 5px 0px 0px 7px;padding-top: 7px\9;}
.page a.all {background-position: -84px -52px;width: 35px;}
.page a:hover {color: #999;background-position: -28px -52px;}
.page a.pre:hover {background-position: -59px top;}
.page a.next:hover {background-position: -59px -26px;}
.page a.all:hover {background-position: -120px -52px;}
.page em {color: #C4D3F0;background-position: -56px -52px;}
.page span.preno {color: #BBB;background-position: -118px top;text-align: left;height: 18px\9;width: 42px;padding: 5px 0px 0px 16px;padding-top: 7px\9;}
.page span.nextno {color: #BBB;background-position: -118px -26px;text-align: left;height: 18px\9;width: 51px;padding: 5px 0px 0px 7px;padding-top: 7px\9;}
.picdata {_display: none;*+display: none;clear: both;}
#nextcache {display: none;}
#showmore {display: none;height: 110px;width: 904px;margin: 10px auto 0px auto;}
#showmore span {background-color: #FEFEFE;float: right;height: 100px;width: 810px;margin-right: 42px;padding: 10px 0px 0px 10px;}
.other {width: 904px;margin: 0px auto;}
.other li {width: 862px;margin-top: 10px;}
.other li p {color: #FFF3CB;background: url(/static/image/bg.gif) no-repeat -3px -122px;float: left;height: 49px;width: 42px;margin-top: 12px;}
.other p em {font-size: 11px;line-height: 22px;text-align: center;float: left;height: 22px;width: 40px;margin-top: 3px;padding-left: 2px;}
.other p a {color: #FFF3CB;float: left;height: 17px;width: 30px;padding-top: 2px;padding-top: 4px\9;padding-left: 11px;}
.other p a:hover {color: #FFF;}
.other dl {background-color: #F3F3F3;float: right;width: 820px;}
.other dt {background-color: #FFF;padding: 10px;}
.other dd {line-height: 21px;color: #666;width: 144px;margin-top: 7px;padding-bottom: 4px;padding-left: 10px;}
.other dd.number {color: #999;line-height: normal;height: 22px;margin-top: 0px;padding-bottom: 0px;}
.other dd.tags {line-height: normal;height: auto;margin-top: 0px;padding-bottom: 0px;}
.other dd.tags span {color: #999;float: left;height: 22px;width: 120px;margin-bottom: 4px;padding-top: 1px;padding-left: 1px;background: url(/static/image/bg.gif) no-repeat -173px -124px;}
.other dd.tags a {font-family: "SimSun", Arial;color: #999;display: inline-block;background: url(/static/image/bg.gif) no-repeat right -151px;height: 16px;padding: 5px 5px 0px 4px;}
.other dd.tags a:hover {color: #386DCD;}
.footer {line-height: 26px;color: #999;text-align: center;height: 32px;width: 820px;margin: 8px auto 0px auto;}
.footer a {color: #999;}
.footer a:hover {color: #386DCD;text-decoration: none;}